<html>
    <head>
        <title>Calculate your vacation pay!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/calculate" method="POST">
            <b>Введите вашу среднюю З/П за 12 месяцев: </b> <input type="number" name="averageSalary" required> руб.<br>
            <b>Введите колличество дней в отпуске: </b> <input type="number" name="numberOfDays" required> <br>
            <p><input type="submit" value="Отправить">
               <input type="reset" value="Очистить">
            </p>
        </form>    
    </body>
</html>
